{% extends 'layouts/main.html' %}

{% block content %}
<div class="container-fluid">
    <div class="container-fluid card mt-3 p-4">
        <h3 class="">Proses Klastering</h3>
        <p>
            Mengetahui kualitas klaster terbaik dengan menggunakan metde elbow
        </p>
        <hr>

    

        <h5>Status Persyaratan</h5>
        <div class="container table-responsive mt-5">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Input Dataset</th>
                        <td>{{ info_data }}</td>
                    </tr>
                    <tr>
                        <th>Input Instruksi</th>
                        <td>{{ info_instruksi }}</td>
                    </tr>
                    <tr>
                        <th>Saran</th>
                        <td>{{ saran }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}