{% extends 'layouts/main.html' %}

{% block content %}
<div class="container-fluid">
    <div class="container-fluid card mt-3 p-4">
        <h3 class="">Proses Klastering</h3>
        <p>
            Mengetahui kualitas klaster terbaik dengan menggunakan metde elbow
        </p>
        <hr>

    

        <h5>Status Proses</h5>
        <div class="">
           <h6 class="text-success">Proses Klastering Sudah Selesai, silahkan ke menu "Hasil" untuk melihat hasilnya</h6>
        </div>
    </div>
</div>
{% endblock %}