<div class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light">K-Means <b>Flask</b></div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action list-group-item-light p-3 " href="{{ url_for('home') }}">Input Data</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ url_for('elbow') }}">Elbow <span class="text-danger">(opsional)</span></a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ url_for('instruksi') }}">Klaster & Iterasi</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ url_for('klastering') }}">Proses Klastering</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ url_for('hasil_klastering') }}">Hasil</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ url_for('dbi') }}">Evaluasi</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ url_for('about') }}">Tentang</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ url_for('logout') }}">Keluar</a>
    </div>
</div>